.favorite-icon {
  width: 16px;
  height: 16px;
  transition: 0.3s;

  &__path {
    fill: #fff;
    transition: 0.3s;

    &:hover,
    &:active {
      color: #780096;
      fill: #780096;
    }
  }

  &:hover,
  &_active {
    color: #780096;
    fill: #780096;
  }
}