.not-found {
  padding-top: 60px;

  &__container {
    display: flex;
    flex-direction: column;
  }
  
  &__content {
    margin: auto;
    text-align: center;
  }

  &__title {
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 700;
  }

  &__text {
    font-size: 16px;
  }

  &__link {
    color: #780096;

    &:hover {
      text-shadow: 0 0 10px rgba(120, 0, 150, 0.5)
    }
  }
}